.checkOut {
    border: none;
    padding: 1.2rem;
    border-radius: 1.2rem;
    background-color: #F9D410;
    font-weight: bold;
    max-height: 60%;
}

.checkOut:hover {
    background-color: #ED7D3E;
}