.gridContainer {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    gap: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

    a {
        cursor: pointer;
        border-radius: 0.8rem;
        padding: 1rem 1.6rem;
        font-size: 1.6rem;
        border: 0px;
        background-color: #F9D410;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;  
        text-decoration: none;
    }

    .unActive {
        opacity: 0.5;
        pointer-events: none;
    }
}

.searchBar {
    padding: 1.2rem;
    background-color: #e4e4e4;
    border-radius: 0.8rem;
    border: none;
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;

    input {
        outline: none;
        border: 0;
        flex: 1;
        background-color: transparent;
    }

    svg {
        position: absolute;
        right: 0;
    }
}  

%table {
    display: block;
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1.6rem 0;
    border-radius: 1rem;
    cursor: pointer;

    h4 {
        font-weight: 600;
        margin: 0;
        text-align: center;
    }
}

.tableList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6rem;
    
    .tableItem {
        .active {
           @extend %table; 
        }

        input[type="checkbox"] {
            display: none;
            
            & + label {
                background-color: white;
            }
    
            &:checked + label {
                background-color: #f7e68d;
            }
    
            &:disabled + label {
                background-color: red;
                cursor: default;
            }
        }
    }

}


