.roomRight{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    border-left: 0.2rem solid #C0C0C0;
    input {
        padding: 0.4rem;
        border-radius: 0.8rem;
        border: 0.2rem solid #999;
    }
}

.btnLeft{
    background-color: #F9D410;
    padding: 0.8rem 2.6rem;
    border: 0.2rem solid #999;
    border-radius: 0.4rem;
    font-weight: bold;
}


.btnClick{
    text-align: center;
}
    
