.containerGrid {
    display: grid;
    grid-template-columns: 2.5fr 0.8fr 1.2fr;
    gap: 3.8rem;

    .middles {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 0.2rem solid #A9A9A9;
        border-radius: 0.8rem;
        
    }

    button {
        padding: 1.2rem 3.8rem;
        border-radius: 0.8rem;
        border: none;
        background-color: #F9D410;
        font-weight: bold;
    }
}

.searchBar {
    margin-top: 2.2rem;
    padding: 1.2rem;
    background-color: #e4e4e4;
    border-radius: 0.8rem;
    border: none;
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;

    input {
        outline: none;
        border: 0;
        width: 100%;
        background-color: transparent;
    }

    svg {
        position: absolute;
        right: 0;
    }
}

.contentGrid {
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.8fr 0.7fr;
    gap: 3.2rem;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem;
    .alignItems{
        display: grid;
        align-content: space-between;
    }
    .end{
        display: flex;
        align-items: center;
    }
    .oc {
        padding: 0.8rem 1.2rem;
        border-radius: 1.2rem;
        border: none;
        max-height: 60%;
        font-weight: bold;
        font-size:1.8rem;
    }

    .close,
    .pencil {
        border: none;
        background-color: transparent;
        max-height: 60%;

    }
}

// Modal
.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


.modalContent {
    position: absolute;
    top: 30%;
    left: 68%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 1.2rem 2.2rem;
    border-radius: 1.2rem;
    max-width: 600px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
}


.plus,
.minus {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 3.2rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3.2rem;
}

.number {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    line-height: 3.2rem;
    font-size: 2rem;
}

.apply{
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    border: none;
    background-color: #F9D410;
    font-weight: bold;
}

.reset {
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--nav-item-hover-color);
    font-weight: bold;
}

.btnLeft{
    background-color: #F9D410;
    padding: 0.8rem 2.6rem;
    border: none;
    border-radius: 0.8rem;
    font-weight: bold;
}

.btnLeft:hover {
    background-color: #ED7D3E;
}

.overlay {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 0 2.4rem;

    h3 {
        font-weight: 700;
        text-align: center;
    }

    .modalContain {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        label {
            font-weight: 600;
            margin-bottom: 0.8rem;
        }
        p {
            margin-bottom: 0.8rem;
        }

        .special {
            position: absolute;
            bottom: 0;
            margin-bottom: 7.5rem;
        }
    }

    button {
        margin: 1.6rem;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
        border: none;
        font-weight: 600;
    }

    .confirmBtn:hover {
        background-color: #ED7D3E;
    }

    .confirmBtn {
        background-color: #F9D410;
    }

    .cancleBtn {
        background-color: rgba($color: #999, $alpha: 0.5);
    }
}
