.containerGrid {
    display: grid;
    grid-template-columns: 2fr 0.8fr 1fr;
    gap: 3.8rem;

    .rangPicker{
        padding: 0.8rem;
    }

    .middles {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.2rem solid #A9A9A9;
        border-radius: 0.8rem;
    }

    button {
        padding: 1.2rem 3.8rem;
        border-radius: 0.8rem;
        border: none;
        background-color: #F9D410;
        margin-top: 0.8rem;
        font-weight: bold;
    }
}

.searchBar {
    margin-top: 2.2rem;
    padding: 1.2rem;
    background-color: #e4e4e4;
    border-radius: 0.8rem;
    border: none;
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;

    input {
        outline: none;
        border: 0;
        width: 100%;
        background-color: transparent;
    }

    svg {
        position: absolute;
        right: 0;
    }
}

.contentGrid {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr 0.8fr 1fr;
    gap: 2.2rem;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    .end{
        display: flex;
        justify-content: space-between;
    }
    .oc {
        background-color: #19E65D;
        padding: 0.2rem 0.4rem;
        border-radius: 1.2rem;
        border: none;
    }

    .checkOut {
        border: none;
        padding: 1.2rem;
        border-radius: 1.2rem;
        background-color: #F9D410;
        font-weight: bold;
    }

    .close,
    .pencil {
        border: none;
        background-color: transparent;
    }

    
}