h3 {
    font-weight: bold;
}

%box {
    font-size: 1.6rem;
    padding: 0.4rem;
    margin: 0.89rem 0;
    border-radius: 0.4rem;
}

.formContainer {
    background-color: white;
    border-radius: 0.8rem;
    padding: 1.6rem;
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.2);
    // margin: 2rem 15.2rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .formUpdate {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 1.6rem;

        label {
            font-weight: 600;
            margin: 1.2rem 0;
        }

        input {
            @extend %box;
            border: 2px solid #bfbfbf;
        }

        select {
            @extend %box;
            border: 2px solid #bfbfbf;
        }
    }

    button {
        text-decoration: none;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
        border: none;
        font-weight: 500;
    }
}