.searchBar {
    padding: 1.2rem;
    background-color: #e4e4e4;
    border-radius: 0.8rem;
    border: none;
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;

    input {
        outline: none;
        border: 0;
        flex: 1;
        background-color: transparent;
    }

    svg {
        position: absolute;
        right: 0;
        
    }
}  

.gridGeneral {
    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    height: 54.1rem;
    .gridContainer {
        display: grid;
        grid-template-columns: 1.5fr 0.6fr 1fr 1.38fr 0.65fr;
        margin-top: 2rem;
        background-color: #e4e4e4;
        padding: 0rem 2.2rem;
        border-radius: 0.8rem 0.8rem 0 0;
        h5 {
            font-weight: bold;
        }
    }
    .gridItem{
        display: grid;
        grid-template-columns: 1.5fr 0.6fr 1fr 1fr 1fr;
        padding: 0.8rem 2.2rem 1.6rem;
        .flexItem{
            display: flex;
            justify-content: space-evenly;
        }
        .actionBtn {
            border: none;
            background-color: #fff;
        }

        p {
            font-weight: 500;
        }
    }
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    font-size: 2rem;
    gap: 1rem;
    cursor: pointer;
}

.pagination .pageItem.active {
    font-weight: 700;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
    border-radius: 0.8rem;
}

.pagination .pageItem {
    border: 1px solid;
    border: none;
    border-radius: 0.8rem;
    background-color: #e4e4e4;
    a {
        padding: 1.6rem 1.2rem;
    }
}