.forgotPassword{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    h2 {
        font-weight: 600;
    }
}

.left .image{
    margin: -1rem;
    height: 712px;
    width: 100%;
}

.right{
    padding: 0 8rem;
    text-align: center;
}

.right .image {
    width: 48%;
}

.right .form {
    position: relative;
    padding-top: 2.5rem;
}

.form {
    .inputOne:focus~.labelOne,
    .inputOne:not(:placeholder-shown).inputOne:not(:focus)~.labelOne {
        transform: translateY(-20px);
    }
}
.right .form input{
    width: 100%;
    border: none;
    border-bottom: 0.2rem solid silver;
    cursor: pointer;
}

.right .form input{
   &:focus~label {
    transform: translateY(-20px);
   }
   &:focus {
    border-bottom: 0.2rem solid #ED7014;
    outline: none;
   }
}

.right .form label{
   position: absolute;
   left: 0;
   color: #999999;
   transition: all 0.3s ease;
   font-size: 1.5rem;

}

.right .reTypePassword,
.right .password{
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.right .btnConfirm {
    width: 100%;
    background-color: #ED7014;
    color: white;
    border-radius: 1rem;
    margin-top: 2.5rem;
    padding: 0.8rem 0;
    border: none;
    cursor: pointer;
}


